
/* Box Riempitore */
.my-filler-box{
    height: 60px;
    border: 1px solid black;
    background-color: bisque ;
}

section#about{
    background-color: rgb(26, 188, 156);
}

/* Jumbotron */
section#jumbotron{
    background-color: rgb(26, 188, 156);
}

div.jumbo-box div#profession span{
    text-transform: uppercase;
}

div.jumbo-box{
    width: 500px;
    margin: 0 auto;
}

div.jumbo-box img{
    width: 250px;
}

div.jumbo-box h1{
    text-transform: uppercase;
    font-weight: 600;
}

div.title-decoration{
    width: 55%;
}

div.title-decoration div.line{
    width: 100%;
    height: 4px;
    border-radius: 10px;
}

/* MAIN Portfolio*/
div.img-block img.picture{
    width: 100%;
}

div.img-block, img.picture{
    border-radius: 10px;
}

/* MAIN  Contact */
div#message{
    height: 150px;
    line-height: 60px;
}

div.personal-data{
    height: 50px;
    line-height: 40px;
}

div#message, div.personal-data{
    border-bottom: 1px solid black;
}

/* FOOTER */
section.my-footer-top{
    background-color: rgb(67, 103, 136);
}

h4{
    text-transform: uppercase;
}

div#ftr-btn-wrap button.btn{
    border-radius: 50%;
}

span#green-text{
    color: rgb(26, 188, 156);
}

section.my-footer-bottom{
    background-color: rgb(44, 62, 80);
}

/* UTILITY CLASS */
.my-bg-white{
    background-color: white;
}

.my-bg-black{
    background-color: black;
}

.my-light-bluegray{
    background-color: rgb(44, 62, 80);
} 